.panel {
    border-bottom: 2px solid #d2d2d2;

    .panel-heading {
        font-weight: bold;
    }

    &.panel-default {
        .panel-heading {
            background: @panel-default-heading-bg;
        }
    }

    &.panel-success {
        .panel-heading {
            background: @panel-success-heading-bg;
        }
    }

    &.panel-primary {
        .panel-heading {
            background: @panel-primary-heading-bg;
        }
    }

    &.panel-info {
        .panel-heading {
            background: @panel-info-heading-bg;
        }
    }

    &.panel-warning {
        .panel-heading {
            background: @panel-warning-heading-bg;
        }
    }

    &.panel-danger {
        .panel-heading {
            background: @panel-danger-heading-bg;
        }
    }
}
