@font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;

@icon-font-path: "../lib/bootstrap/fonts/";
@fa-font-path: "../lib/font-awesome/fonts";

@grid-gutter-width: 20px;

@border-radius-base: 1px;
@border-radius-large: 2px;

@brand-color: #12a5f4;
@background-color: #f7f9fb;

@navbar-height: 60px;
@sidebar-width: 220px;
@sidebar-color: #f9f9f9;
@sidebar-bgcolor: #363c47;

@panel-border-radius: 4px;
@panel-footer-bg: #fafafa;

@panel-default-heading-bg: #fff;
@panel-default-border: #e7e9ee;

@panel-success-text: #fff;
@panel-success-heading-bg: #7bb705;
@panel-success-border: @panel-default-border;

@panel-primary-text: #fff;
@panel-primary-heading-bg: #016abc;
@panel-primary-border: @panel-default-border;

@panel-warning-text: #fff;
@panel-warning-heading-bg: #fca307;
@panel-warning-border: @panel-default-border;

@panel-danger-text: #fff;
@panel-danger-heading-bg: #ff3030;
@panel-danger-border: @panel-default-border;

@panel-info-text: #fff;
@panel-info-heading-bg: #26ade4;
@panel-info-border: @panel-default-border;
